* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: #111;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.score {
  text-transform: capitalize;
  font-size: 20px;
  color: white;
}

.board {
  display: grid;
  grid-template-columns: repeat(20, 20px);
  grid-template-rows: repeat(20, 20px);
  gap: 1px;
  width: max-content;
}

.cell {
  background-color: #fff;
  width: 20px;
  height: 20px;
}

.food {
  background-color: #16a085;
}

.snake{
  background-color: #16a085;
}

.snakeHead {
  background-color: tomato;
}